{% extends 'todo/base.html' %}
{% block content %}
    <div class="py-5">
        <div class="container">
            <h3>Add Task</h3>
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">

                    <!-- Security token -->
                    {% csrf_token %}

                    <!-- Using the formset -->
                    {{ form.as_p }}

                    <input class="btn btn-dark" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
